result
result*
pkgs/fonts/src/*.zip
*.tfstate
*.tfstate.backup
.terraform*
.terraform.lock.hcl
terraform/etc
*.bak
*.bak.*
.pre-commit-config.yaml
.direnv/
*.iso
*.log
clouds.yaml
*.pem
*id_ed25519*
*id_rsa*
*.priv
*.pkey
*.pub
*_key
data

# Proprietary drivers (pkgs.libfprint-focaltech)
libfprint*.install
*.deb
