export OS_CLOUD=internal-employee-pschmitt
export BUCKET_NAME=terraform-state-heimat-dev
export AWS_ACCESS_KEY_ID=$(s3_access_key_id "$BUCKET_NAME")
export AWS_SECRET_ACCESS_KEY=$(s3_secret_access_key "$BUCKET_NAME")
export CLOUDFLARE_EMAIL="$EMAIL"
export CLOUDFLARE_API_KEY=$(cloudflare_api_key)
