unset export SOPS_AGE_KEY_FILE
export SOPS_AGE_KEY=$(ssh-to-age -private-key -i ~/.ssh/id_ed25519)
# NOTE using "use sops here" will print an error since it won't be able to
# process the complex values in cloud-credentials.sops.yaml
# use sops
