name: Nix build

on:
  push:
  workflow_dispatch: # allows manual triggering

env:
  # https://nix.dev/manual/nix/2.18/advanced-topics/distributed-builds
  NIX_BUILDER: "ssh://${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} aarch64-linux,i686-linux,x86_64-linux /home/runner/.ssh/id_ed25519 - - - - -"
  NIX_DEST_STORE_URL: "ssh://${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}?ssh-key=/home/runner/.ssh/id_ed25519"
  nix-conf: |-
    fallback = true # build from source if a binary substitute fails
    # substituters = https://cache.garnix.io https://cache.nixos.org/ https://hyprland.cachix.org https://hyprland.cachix.org ssh://${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} https://nix-cache.brkn.lol https://nix-community.cachix.org
    substituters = https://cache.garnix.io https://cache.nixos.org/ https://hyprland.cachix.org https://hyprland.cachix.org https://nix-community.cachix.org ssh://${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}?ssh-key=/home/runner/.ssh/id_ed25519
    trusted-public-keys = cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hyprland.cachix.org-1:a7pgxzMz7+chwVL3/pzj6jIBMioiJM7ypFP8PwtkuGc= nix-cache.brkn.lol:k/zdgSv+6lcJ/9DRILjA7H18eIlFSA0OwzyqqXEwySM= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= rofl-02:OjuEw7+xiIgDDHLLoRHY6h4CQpl0Ie96qyjeJyQRJ38= rofl-03:p25y1GufWGd6aWpimb8j6F0obxn3jwYCj7sCCXgp7A0=
    extra-platforms = aarch64-linux i686-linux
    builders-use-substitutes = true

jobs:
  setup-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      # magic cache is dead
      # https://determinate.systems/posts/magic-nix-cache-free-tier-eol/
      # - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Generate build matrix
        id: set-matrix
        shell: bash
        run: |
          echo "matrix=$(./.github/workflows/scripts/nix-gh-build-matrix.sh)" \
            >> $GITHUB_OUTPUT

  build-pkgs-free:
    needs: setup-matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pkg: ${{ fromJson(needs.setup-matrix.outputs.matrix).pkgs.free }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: ${{ env.nix-conf }}

      # - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Store SSH key on disk
        run: |-
          mkdir -p "${HOME}/.ssh"
          KEY_PATH="${HOME}/.ssh/id_ed25519"
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > "$KEY_PATH"
          chmod 400 "$KEY_PATH"

      - name: Setup known_hosts
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 1
          max_attempts: 3
          shell: bash
          command: |
            set -o pipefail
            ssh-keyscan "${{ secrets.SSH_HOST }}" | \
              sudo tee -a "${HOME}/.ssh/known_hosts" /etc/ssh/ssh_known_hosts

      - name: Build package
        run: |-
          nix build --print-build-logs \
            '.#packages.x86_64-linux.${{ matrix.pkg }}'

      - name: "Nix copy package"
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: |
            # DEBUG
            ssh-keyscan "${{ secrets.SSH_HOST }}"
            echo "Known hosts:"
            cat /etc/ssh/ssh_known_hosts

            nix copy --to "$NIX_DEST_STORE_URL" \
              '.#packages.x86_64-linux.${{ matrix.pkg }}'

  build-pkgs-oci:
    needs: setup-matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pkg: ${{ fromJson(needs.setup-matrix.outputs.matrix).pkgs.oci }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: ${{ env.nix-conf }}

      # - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Store SSH key on disk
        run: |-
          mkdir -p "${HOME}/.ssh"
          KEY_PATH="${HOME}/.ssh/id_ed25519"
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > "$KEY_PATH"
          chmod 400 "$KEY_PATH"

      - name: Setup known_hosts
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 1
          max_attempts: 3
          shell: bash
          command: |
            set -o pipefail
            ssh-keyscan "${{ secrets.SSH_HOST }}" | \
              sudo tee -a "${HOME}/.ssh/known_hosts" /etc/ssh/ssh_known_hosts

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Netbird Connect
        id: netbird
        uses: Alemiz112/netbird-connect@v1
        with:
          setup-key: ${{ secrets.NETBIRD_SETUP_KEY }}

      - name: Add static /etc/hosts entry for Oracle YUM Repo
        run: |-
          echo "147.154.129.218 yum.eu-frankfurt-1.oci.oraclecloud.com" | \
            sudo tee -a /etc/hosts

      - name: Build package (aarch64-linux)
        run: |-
          nix build --print-build-logs --builders "$NIX_BUILDER" \
            '.#packages.aarch64-linux.${{ matrix.pkg }}'
          tree result

      - name: Build package (x86_64-linux)
        run: |-
          nix build --print-build-logs --builders "$NIX_BUILDER" \
            '.#packages.x86_64-linux.${{ matrix.pkg }}'
          tree result

      - name: "Nix copy packages"
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: |
            # DEBUG
            ssh-keyscan "${{ secrets.SSH_HOST }}"
            echo "Known hosts:"
            cat /etc/ssh/ssh_known_hosts

            nix copy --to "$NIX_DEST_STORE_URL" \
              '.#packages.aarch64-linux.${{ matrix.pkg }}' \
              '.#packages.x86_64-linux.${{ matrix.pkg }}'

  build-pkgs-nonfree:
    needs: setup-matrix
    runs-on: ubuntu-latest
    env:
      NIXPKGS_ALLOW_UNFREE: 1
      SSH_PRIVATE_KEY_PATH: "/home/runner/.ssh/id_ed25519"
    strategy:
      fail-fast: false
      matrix:
        pkg: ${{ fromJson(needs.setup-matrix.outputs.matrix).pkgs.nonfree }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: ${{ env.nix-conf }}

      # NOTE You might want to disable magic-nix-cache-action since it will
      # technically redistribute our proprietary packages (by putting them in
      # the GitHub Actions cache). Luckily this should is not available outside
      # of GH Actions run from within this repo.
      # - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Store SSH key on disk
        run: |-
          mkdir -p "${HOME}/.ssh"
          KEY_PATH="${HOME}/.ssh/id_ed25519"
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > "$KEY_PATH"
          chmod 400 "$KEY_PATH"

      - name: Setup known_hosts
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 1
          max_attempts: 3
          shell: bash
          command: |
            set -o pipefail
            ssh-keyscan "${{ secrets.SSH_HOST }}" | \
              sudo tee -a "${HOME}/.ssh/known_hosts" /etc/ssh/ssh_known_hosts

      - name: Fetch proprietary fonts (nixpkg src)
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 5
          max_attempts: 3
          shell: bash
          command: |-
            ./pkgs/fonts/src/fetch-fonts.sh \
              --remote-user "${{ secrets.SSH_USERNAME }}" \
              --remote-host "${{ secrets.SSH_HOST }}" \
              --identity-file "${HOME}/.ssh/id_ed25519"

      - name: Trick flake by git adding all files (ignoring .gitignore)
        run: |-
          git add --intent-to-add --force .

      - name: Build package
        # NOTE --impure is required for consuming env vars (ie. NIXPKGS_ALLOW_UNFREE)
        run: |-
          nix build --print-build-logs --builders "$NIX_BUILDER" --impure \
            '.#packages.x86_64-linux.${{ matrix.pkg }}'
          tree result

      - name: "Nix copy package"
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: |
            # DEBUG
            ssh-keyscan "${{ secrets.SSH_HOST }}"
            echo "Known hosts:"
            cat /etc/ssh/ssh_known_hosts

            nix copy --to "$NIX_DEST_STORE_URL" --impure \
              '.#packages.x86_64-linux.${{ matrix.pkg }}'

  build-hosts-x86_64:
    needs:
      - setup-matrix
      - build-pkgs-free
      - build-pkgs-nonfree
    if: ${{ always() && success('setup-matrix') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        host: ${{ fromJson(needs.setup-matrix.outputs.matrix).hosts.amd64 }}
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: ${{ env.nix-conf }}

      # - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Store SSH key on disk
        run: |-
          mkdir -p "${HOME}/.ssh"
          KEY_PATH="${HOME}/.ssh/id_ed25519"
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > "$KEY_PATH"
          chmod 400 "$KEY_PATH"

      - name: Setup known_hosts
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 1
          max_attempts: 3
          shell: bash
          command: |
            set -o pipefail
            ssh-keyscan "${{ secrets.SSH_HOST }}" | \
              sudo tee -a "${HOME}/.ssh/known_hosts" /etc/ssh/ssh_known_hosts

      - name: Build nixosConfiguration
        run: |-
          nix build --print-build-logs \
            '.#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel'

      - name: "Nix copy package"
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: |
            # DEBUG
            ssh-keyscan "${{ secrets.SSH_HOST }}"
            echo "Known hosts:"
            cat /etc/ssh/ssh_known_hosts

            nix copy --to "$NIX_DEST_STORE_URL" \
              '.#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel'

  build-hosts-aarch64:
    needs:
      - setup-matrix
      - build-pkgs-free
      - build-pkgs-nonfree
      - build-pkgs-oci
    if: ${{ always() && success('setup-matrix') }}
    # runs-on: ubuntu-latest
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        host: ${{ fromJson(needs.setup-matrix.outputs.matrix).hosts.aarch64 }}
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: ${{ env.nix-conf }}

      # - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Store SSH key on disk
        run: |-
          mkdir -p "${HOME}/.ssh"
          KEY_PATH="${HOME}/.ssh/id_ed25519"
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > "$KEY_PATH"
          chmod 400 "$KEY_PATH"

      - name: Setup known_hosts
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 1
          max_attempts: 3
          shell: bash
          command: |
            set -o pipefail
            ssh-keyscan "${{ secrets.SSH_HOST }}" | \
              sudo tee -a "${HOME}/.ssh/known_hosts" /etc/ssh/ssh_known_hosts

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Netbird Connect
        id: netbird
        uses: Alemiz112/netbird-connect@v1
        with:
          setup-key: ${{ secrets.NETBIRD_SETUP_KEY }}

      - name: Add static /etc/hosts entry for Oracle YUM Repo
        run: |-
          echo "147.154.129.218 yum.eu-frankfurt-1.oci.oraclecloud.com" | \
            sudo tee -a /etc/hosts

      - name: Build nixosConfiguration
        run: |-
          nix build --print-build-logs --builders "$NIX_BUILDER" \
            '.#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel'

      - name: "Nix copy package"
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: |
            # DEBUG
            ssh-keyscan "${{ secrets.SSH_HOST }}"
            echo "Known hosts:"
            cat /etc/ssh/ssh_known_hosts

            nix copy --to "$NIX_DEST_STORE_URL" \
              '.#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel'
