name: OpenTofu Format Check

on:
  push:
    paths:
      - 'opentofu/**.tf'
      - 'terraform/**.tf'
      - 'tofu/**.tf'
  pull_request:
    paths:
      - 'opentofu/**.tf'
      - 'terraform/**.tf'
      - 'tofu/**.tf'
  workflow_dispatch: # allows manual triggering

jobs:
  fmt:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - uses: opentofu/setup-opentofu@v1

    - name: Check OpenTofu files
      run: tofu fmt -check -recursive
      working-directory: ./tofu
